#todo-form input {
  border: none;
  padding: 10px;
}

ul {
  margin-top: 20px;
  margin-left: 0px;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  margin-bottom: 10px;
}
