.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: red;
  min-height: 100%; /* Set to minimum height so overflow doesn't get hidden */
  min-width: 100%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
